body{
  font-family: 'Raleway', sans-serif;
}

.home{
  background-image: url("../assets/backgrounds/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 792px;
  padding: 50px;
  color: white;
}

.shop{
  text-align: right;
}

.clothing{
  text-align: center;
  padding-top: 150px;
}

.select{
  padding: 50PX;
  background-color: #d8be82;
}

.right{
  float: right;
  text-align: right;
}

#btn{
  background-color: maroon;
  color: white;
  width: 200px;
}

.men{
  padding: 50px;
}

#men-row{

}
