body{
  font-family: 'Roboto', sans-serif;
}

.home{
  background-image: url("../assets/backgrounds/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 792px;
  padding: 50px;
  color: white;
}

.shop{
  text-align: left;
}

.clothing{
  text-align: center;
  padding-top: 150px;
}

.select{
  padding: 50PX;
  background-color: #d8be82;
}

.right{
  float: right;
  text-align: right;
}

#btn{
  background-color: maroon;
  color: white;
  padding: 10px;
}

.men{
  padding: 50px;
}

.women{
  padding: 50px;
}

.about{
  background-image: url("../assets/backgrounds/about.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 403px;
  padding: 100px 200px;
  color: white;
}

#field{
  border: 2px solid #d8be82;
  padding: 50px 150px;
  text-align: center;
}

.sale{
  text-align: center;
  background-color: #666666;
  color: white;
  padding: 10px;
}

.social{
  background-color: #333333;
  color: white;
  padding: 40px;
}

#display-products{
  display: none;
  font-weight: bold;
}
